/*Reset*/
*{
    margin: 0;
    padding: 0;
}

/*Corpo da página*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a3c4a3;
}

/*Cabeçalho*/
#cabecalho{
    background-color: #5ab65a;
    text-align: center;
    padding: 20px 0 20px 0;
}
#cabecalho > h1{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

/*Corpo principal*/
#corpo-principal{
    background-color: #fff;
    width: 60%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

/*Seção 1*/
#secao1 h2{
    margin-bottom: 10px;
    font-size: 25px;
}
#secao1 p{
    margin-bottom: 10px;
}
#classificacao h3{
    margin: 15px 0px;
}

/*Seção 2*/
#container-calc{
    display: flex;
    flex-direction: column;
    background-color: #5ab65a;
    width: 70%;
    border-radius: 10px;
    color: #fff;
    margin: 5px auto;
}

#container-calc h3{
    color: #ffff;
    margin: 20px 0;
}
#container-calc span{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
#calculadora input{
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 4px 0;
    width: 50%;
}
#botoes{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    width: 100%;
}
#botoes button{
    width: 40%;
    border: none;
    background-color: #fff;
    color: #5ab65a;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 5px;
}
#resultado{
    color: #5ab65a;
    margin: 10px;
}
